.container{
    margin-left: 100px;
    margin-top: 50px;
    align-items: center;
}
.tablediv{

width: 70%;
margin: auto;
text-align: center;
}
.datatable{
    margin-top: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}
tr , td{
    border: 2px solid rgb(65, 206, 36);
    border-collapse: collapse;
}
th{
    width: 20px;
}
